Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteRule ^site.css$ index.php?kind=css [L]

RewriteRule ^(.*)/(.*)/(.*)/(.*)$ index.php?kind=$1&sub=$2&id=$3&$4 [L]

RewriteRule ^(.*)/(.*)/(.*)$ index.php?kind=$1&sub=$2&$3 [L]

RewriteRule ^(.*)/(.*)/$ index.php?kind=$1&sub=$2 [L]

RewriteRule ^(.*)/$ index.php?kind=$1 [L]

RewriteRule ^(.*)$ /%{HTTP_HOST}/%{REQUEST_URI} [L]